@import "font-awesome.sass"

$chalkColor: black
$blackboardColor: #323232
$brightBlackboard: #6b6b6b
$blue: #92bcbb
$orange: #dc814a
$brightOrange: #f9c07b
$purple: #9c96bc

body
  font-family: 'Lato', sans-serif
  background-image: url(../images/bg.png)
  color: $chalkColor

a, a:visited
  color: $orange
  &:active
    color: $blue
  &:hover
    color: $brightOrange

.container
  width: 800px
  margin: 20px auto 20px auto

.row:after
  content: "."
  display: block
  height: 0
  clear: both
  visibility: hidden

.logo_box
  float: left
  width: 300px
  img
    -webkit-border-radius: 0.3em
    -moz-border-radius: 0.3em
    -ms-border-radius: 0.3em
    -o-border-radius: 0.3em
    border-radius: 0.3em
    -webkit-box-shadow: rgba(0,0,0,0.15) 0 1px 4px
    -moz-box-shadow: rgba(0,0,0,0.15) 0 1px 4px
    box-shadow: rgba(0,0,0,0.15) 0 1px 4px
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    border: #fff 0.5em solid

.title_box
  float: right
  width: 460px

.title
  .main, .addition
    display: inline
  a
    text-decoration: none
    color: $chalkColor

.title-text
  margin-top: 15px
  font-size: 1.2em

.social_pages
  a
    margin-right: 10px
    text-decoration: none

.flattr_box
  float: right

.episodes
  overflow: auto

.episode-count
  color: $blackboardColor

.episode.episode-preview
  float: left
  width: 360px
  margin-right: 40px
  min-height: 200px
  background-color: white
  padding: 0px 20px

  -webkit-border-radius: 0.3em
  -moz-border-radius: 0.3em
  -ms-border-radius: 0.3em
  -o-border-radius: 0.3em
  border-radius: 0.3em
  -webkit-box-shadow: rgba(0,0,0,0.15) 0 1px 4px
  -moz-box-shadow: rgba(0,0,0,0.15) 0 1px 4px
  box-shadow: rgba(0,0,0,0.15) 0 1px 4px
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  border: #fff 0.5em solid
  text-decoration: none !important

  &, &:visited
    color: $chalkColor


.footer
  margin-top: 50px
  padding: 10px 20px
  font-size: 12px
  text-align: center

