$chalkColor: #d5d5d5

body
  font-family: 'Lato', sans-serif

.container
  padding-top: 50px

.chalkBox
  padding-left: 57px

.top-wrapper
  overflow: auto
  margin-bottom: 25px

.logo, .title-wrapper
  float: left

.title-wrapper
  margin-top: 25px
  margin-left: 50px

.title
  .main, .addition
    display: inline

.title-text
  margin-top: 15px

.episodes
  color: $chalkColor
  border-radius: 10px
  background-image: url(../images/wood.jpg)
  background-size: 350px
  background-position: 100px
  padding: 10px
  overflow: auto

.episode.episode-preview
  border: 0
  width: 400px
  min-height: 200px
  float: left
  margin-left: 10px
  background-image: url(../images/blackboard.jpg)
  background-size: 100% 100%
  color: $chalkColor

  &:hover
    -webkit-box-shadow: 0px 0px 23px rgba(255, 192, 199, 1)
    -moz-box-shadow:    0px 0px 23px rgba(255, 192, 199, 1)
    box-shadow:         0px 0px 23px rgba(255, 192, 199, 1)

.footer
  margin-top: 50px
  border-top: 1px solid black
  font-size: 12px
