h1 Folge #{episode.title}

audio id="episodeplayer" preload="none"
  - episode.podcast.formats.each do |format|
    source src="#{episode.podcast.episode_media_url(episode, format)}" type="#{format.mime_type}"

javascript:
  $('#episodeplayer').podlovewebplayer({
    title: "#{episode.title}",
    permalink: "#{episode.podcast.deep_link_url(episode)}",
    chapters: #{{chapter_helper(episode)}},
    duration: "#{episode.duration}",
    downloads: #{{download_helper(episode)}},
    alwaysShowHours: true,
    startVolume: 0.8,
    width: 'auto',
    hidedownloadbutton: false,
    summaryVisible: false,
    timecontrolsVisible: false,
    sharebuttonsVisible: false,
    chaptersVisible: false,
    preload: false
  });

ul.downloads.pull-right
  li
    a class="FlattrButton" style="display:none;" title=episode.title data-flattr-uid=episode.podcast.flattr['user'] data-flattr-tags=episode.podcast.flattr['tags'].join(',') data-flattr-category=episode.podcast.flattr['category'] href=episode.podcast.deep_link_url(episode) rev="flattr;button:compact;"
      Flattr this!
  - episode.podcast.formats.each do |format|
    li
      i.icon-cloud-download
      ' 
      a href="#{episode.podcast.episode_media_url(episode, format)}"
        = format.format.upcase

.description
  == description
