h1 Folge #{episode.title}

audio id="episodeplayer" preload="none"
  - episode.podcast.formats.each do |format|
    source src="#{episode.podcast.episode_media_url(episode, format)}" type="#{format.mime_type}"

javascript:
  $('#episodeplayer').podlovewebplayer({
    title: "#{episode.title}",
    permalink: "#{episode.podcast.deep_link_url(episode)}",
    chapters: #{{chapter_helper(episode)}},
    duration: "#{episode.duration}",
    downloads: #{{download_helper(episode)}},
    alwaysShowHours: true,
    startVolume: 0.8,
    width: 'auto',
    hidedownloadbutton: false,
    summaryVisible: false,
    timecontrolsVisible: false,
    sharebuttonsVisible: false,
    chaptersVisible: false,
    preload: false
  });

ul.downloads.pull-right
  - episode.podcast.formats.each do |format|
    li
      i.icon-cloud-download
      '
      a href="#{episode.podcast.episode_media_url(episode, format)}"
        = format.format.upcase

.description
  == description

.comments
  #disqus_thread
  javascript:
    var disqus_disable_mobile = true;
    var disqus_shortname = 'nerdkunde';
    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  a.dsq-brlink href="http://disqus.com"
    | comments powered by
    span.logo-disqus Disqus
