h1 Folge #{episode.title}
meta http-equiv="refresh" content="0; url=nk#{"%03d" % episode.number}.html"

'Die Folge ist umgezogen ... Du findest sie nun
a href="nk#{"%03d" % episode.number}.html"
  'hier
